@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900;1000&display=swap");

:root {
  --primary-color: #ffae00;
  --primary-color-dark: #ffae00;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #fff3dc;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('./image/backtigre.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: #000000;
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--extra-light);
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}


.rsc {
    position:absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    
    }
    
    .rsc a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    font-size: 60px;
    color: var(--primary-color);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    }
    
    .rsc a:hover {
    
        color: #000000;
    }
    
    .rsc a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--primary-color);
    z-index: -1;
    transition: .5s;
    overflow: hidden;
    }
    
    .rsc a:hover::before {
    width: 100%;
    }


.action__btns {
  display: flex;
  gap: 1 rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid color black;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  background-color: var(--primary-color);
  color: #000000;

}

.portfolio {
  color: var(--primary-color);
}

.portfolio:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(20rem, 90%);
  border-radius: 10%;
}



.imgapple img {
    width: 100%;
    height: auto;
}

.web img {
    width: 50%;
    height: auto;
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }
  .rsc {
    margin: auto;
  }



}
